<div id="<%= dom_id bin %>">
  <p>
    <strong>Seed:</strong>
    <%= bin.seed_id %>
  </p>

  <p>
    <strong>Seedbox:</strong>
    <%= bin.seedbox %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= bin.location %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= bin.quantity %>
  </p>

</div>
