<p style="color: green"><%= notice %></p>

<h1>Bins</h1>

<%= link_to "New bin", new_bin_path %>

<div id="bins">
  <% @grouped_bins.each do |seedbox, bins| %>
    <section>
      <span class="seedbox_name"><%= seedbox %></span>
      <div class="bin_block">
      <% (1..100).each do |location| %>
        <div class="bin">
          <% if bins[location] %>
            <%= link_to image_tag("#{bins[location].species}.png"), bins[location] %>
            <span class="active_location"><%= location %></span>
            <span class="quantity"><%= bins[location].quantity %></span>
          <% else %>
            <span class="location"><%= location %></span>
          <% end %>
        </div>
        <% if location % 10 == 0 %>
          <br />
        <% end %>
      <% end %>
      </div>
    </section>
  <% end %>
</div>