<p style="color: green"><%= notice %></p>

<%= render @seedbox %>

<div>
  <%= link_to "Edit this seedbox", edit_seedbox_path(@seedbox) %> |
  <%= link_to "Back to seedboxes", seedboxes_path %>

  <%= button_to "Destroy this seedbox", @seedbox, method: :delete %>
</div>
