<p style="color: green"><%= notice %></p>

<%= render @tubes_by_accession %>

<div>
  <%= link_to "Edit this tubes by accession", edit_tubes_by_accession_path(@tubes_by_accession) %> |
  <%= link_to "Back to tubes by accessions", tubes_by_accessions_path %>

  <%= button_to "Destroy this tubes by accession", @tubes_by_accession, method: :delete %>
</div>
