<%= form_with(model: seed) do |form| %>
  <% if seed.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(seed.errors.count, "error") %> prohibited this seed from being saved:</h2>

      <ul>
        <% seed.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :species_id, style: "display: block" %>
    <%= form.text_field :species_id %>
  </div>

  <div>
    <%= form.label :generation, style: "display: block" %>
    <%= form.number_field :generation %>
  </div>

  <div>
    <%= form.label :parent, style: "display: block" %>
    <%= form.collection_select :parent, Seed.all, :id, :species %>
    <!--TODO: need label to be species-population-accession-->
  </div>

  <div>
    <%= form.label :accession_id, style: "display: block" %>
    <%= form.text_field :accession_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
