<div id="<%= dom_id seed %>">
  <p>
    <strong>Species:</strong>
    <%= seed.species %>
  </p>

  <p>
    <strong>Generation:</strong>
    <%= seed.generation %>
  </p>

  <p>
    <strong>Seedbox:</strong>
    <%= seed.seedbox %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= seed.location %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= seed.quantity %>
  </p>

</div>
