<%= form_with(model: tube) do |form| %>
  <% if tube.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tube.errors.count, "error") %> prohibited this tube from being saved:</h2>

      <ul>
        <% tube.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :seed_id, style: "display: block" %>
    <%= form.collection_select :seed_id, Seed.all, :id, :abbreviation, selected: tube&.seed&.id %>
  </div>

  <div>
    <%= form.label :seedbox_id, style: "display: block" %>
    <%= form.collection_select :seedbox_id, Seedbox.all, :id, :name, selected: params[:seedbox_id] || tube&.seedbox&.id %>
  </div>

  <div>
    <%= form.label :position, style: "display: block" %>
    <%= form.number_field :position, min: 1, max: 100, value: params[:position] || tube&.position %>
  </div>

  <div>
    <%= form.label :volume, style: "display: block" %>
    <%= form.number_field :volume, value: tube&.volume %>
  </div>

  <div>
    <%= form.label :count, style: "display: block" %>
    <%= form.number_field :count, value: tube&.count %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
