<div id="<%= dom_id tube %>">
  <p>
    <strong><%= tube.abbreviation %></strong>
  </p>

  <p>
    <strong>Seed:</strong>
    <%= tube.seed_id %>
  </p>

  <p>
    <strong>Seedbox:</strong>
    <%= tube.seedbox_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= tube.position %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= tube.volume %>mL
  </p>

  <p>
    <strong>Count:</strong>
    <%= tube.count %>
  </p>

</div>
