<p style="color: green"><%= notice %></p>

<h1>Tubes</h1>

<div id="tubes">

  <search-bar id="search-bar" data-searchable=".tube" data-searchableparent=".seedbox"></search-bar>
  <%= button_tag 'Show Critical', onclick: "window.criticalButton()"%>
  <%= button_tag 'Clear Search', onclick: "window.clearButton()"%>
  <%= link_to "New tube", new_tube_path %>

  <% @grouped_tubes.each do |seedbox, tubes| %>
    <section class="seedbox" id=<%= seedbox.name %>>
      <span class="seedbox_name"><%= seedbox.name %></span>
      <div class="tube_block">
      <% (1..100).each do |position| %>
        <% if (tube = tubes[position]) %>
          <%= render partial: "tube_present", locals: {tube: tube, seedbox: seedbox, position: position} %>
        <% else %>
          <%= render partial: "tube_missing", locals: {seedbox: seedbox, position: position} %>
        <% end %>
        <% if position % 10 == 0 %>
          <br />
        <% end %>
      <% end %>
      </div>
    </section>
  <% end %>
</div>
<%= javascript_include_tag "search.js", type: "module" %>
<%= javascript_include_tag "tube-search-buttons.js" %>
