<p style="color: green"><%= notice %></p>

<h1>Tubes</h1>

<%= javascript_include_tag "search.js", type: "module" %>
<search-bar id="search-bar" data-searchable=".tube" data-searchableparent=".seedbox"></search-bar>

<%= link_to "New tube", new_tube_path %>


<div id="tubes">
  <% @grouped_tubes.each do |seedbox, tubes| %>
    <section class="seedbox" id=<%= seedbox.name %>>
      <span class="seedbox_name"><%= seedbox.name %></span>
      <div class="tube_block">
      <% (1..100).each do |position| %>
        <% id = "tube-#{tubes[position]&.flex_id}" || "tube-#{seedbox.name}-#{position}" %>
        <% classes = "tube #{tubes[position]&.species || '' }"%>
        <% data_item = "#{tubes[position]&.flex_item} #{"critical" if tubes[position]&.critical?}" || "#{seedbox.name} #{position} empty" %>
        <%= link_to(tubes[position], id: id, class: classes) do %>
          <% if tubes[position] %>
            <span class="active_position"><%= position %></span>
            <span class="amount <%= "critical" if tubes[position].critical? %>"><%= tubes[position].amount %></span>
            <span class="name"><%= tubes[position].abbreviation %></span>
          <% else %>
            <span class="position"><%= position %></span>
          <% end %>
        <% end %>
        <% if position % 10 == 0 %>
          <br />
        <% end %>
      <% end %>
      </div>
    </section>
  <% end %>
</div>
