<p style="color: green"><%= notice %></p>

<h1>Tubes</h1>

<%= link_to "New tube", new_tube_path %>

<div id="tubes">
  <% @grouped_tubes.each do |seedbox, tubes| %>
    <section>
      <span class="seedbox_name"><%= seedbox.name %></span>
      <div class="tube_block">
      <% (1..100).each do |position| %>
        <div class="tube">
          <% if tubes[position] %>
            <%= link_to image_tag("#{tubes[position].species}.png"), tubes[position] %>
            <span class="active_position"><%= position %></span>
            <span class="amount <%= "critical" if tubes[position].critical? %>"><%= tubes[position].amount %></span>
            <span class="name"><%= tubes[position].abbreviation %></span>
          <% else %>
            <span class="position"><%= position %></span>
          <% end %>
        </div>
        <% if position % 10 == 0 %>
          <br />
        <% end %>
      <% end %>
      </div>
    </section>
  <% end %>
</div>