<div id="<%= dom_id plant_sample %>">
  <p>
    <strong>Species:</strong>
    <%= plant_sample.species_id %>
  </p>

  <p>
    <strong>Accession:</strong>
    <%= plant_sample.accession %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= plant_sample.label %>
  </p>

  <p>
    <strong>Storage method:</strong>
    <%= plant_sample.storage_method %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= plant_sample.quantity %>
  </p>

  <p>
    <strong>Generation:</strong>
    <%= plant_sample.generation %>
  </p>

  <p>
    <strong>Accession tray:</strong>
    <%= plant_sample.accession_tray %>
  </p>

  <p>
    <strong>Replication tray:</strong>
    <%= plant_sample.replication_tray %>
  </p>

  <p>
    <strong>Row:</strong>
    <%= plant_sample.row %>
  </p>

  <p>
    <strong>Column:</strong>
    <%= plant_sample.column %>
  </p>

  <p>
    <strong>Sowing date:</strong>
    <%= plant_sample.sowing_date %>
  </p>

  <p>
    <strong>Harvest date:</strong>
    <%= plant_sample.harvest_date %>
  </p>

  <p>
    <strong>Seed:</strong>
    <%= plant_sample.seed_id %>
  </p>

</div>
