<p style="color: green"><%= notice %></p>

<h1>Plant UI</h1>

<div id="root">
  <nav>
    <%= link_to 'graph query', graph_query_path %>
    <%= link_to 'seed tubes', tubes_path %>
    <%= link_to 'tubes by accession', tubes_by_accessions_path %>
    <%= link_to 'bulk upload', bulk_upload_index_path %>
  </nav>
<div>